# GROQ_
GROQ_API_KEY=groq_api_key_here

# Football Data API (free tier at football-data.org)
FOOTBALL_API_KEY=your_football_data_api_key_here

# X Layer Testnet
RPC_URL=https://testrpc.xlayer.tech
PRIVATE_KEY=your_wallet_private_key_here
CONTRACT_ADDRESS=0xa06De09Fe301055f93547FbEDb7F9c28203C574D
USDC_ADDRESS=0xcb8bf24c6ce16ad21d707c9505421a17f2bec79d

# Server
PORT=3001
